*{
    box-sizing: border-box;
    margin: auto;
    
}
body{
     display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EEEEEE; */
    background-color: black;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  100px 250px 300px;
    grid-template-areas:
    "t t t t" 
    "p p i i "
    "b b g g";
       
}
h1{
    grid-area: t;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Koulen', sans-serif; */
 /* font-family: 'Zen Loop', cursive; */
 font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 50px;
}

.box{
    height: 250px;
    width: 250px;
    border-radius: 21px;
    border: 2px solid white;
    margin-left: 10px;
}

#purple{
    grid-area: p;
    background-color: #A85CF9;

}
#pink{
    grid-area: i;
    background-color: #FFC4DD;

}
#blue{
    background-color: #5EE6EB;
    grid-area: b;

}
#green{
    background-color: #83BD75;
    grid-area: g;

}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: white;
}
.gameover{
    background-color: #EB5353;
}

@media only screen and (max-width: 600px) {
    body{
        display: block;
        text-align: center;
    }
    h1{
        font-size: 20px;
    }
  .box{
      max-width: 150px;
      max-height: 150px;
      padding: 10px;

  }
}